@{
    ViewData["Title"] = "Home Page";
}
<h4>Фильтры</h4>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    foreach (var color in ViewBag.Сolors)
    {
        <label>
            <input class="form-check-input" type="checkbox" name="selectedColorsId" value="@color.Id" @(ViewBag.SelectedСolorsId.Contains(color.Id) ? "checked" : "") />
            @color.Name
        </label>
        <br />
    }
    <input class="btn btn-dark mt-2" type="submit" value="Найти" />
}
    
<div class="container">
    <div class="row">
        @foreach (var i in ViewBag.Flags)
        {
            <div class="col-md-3">
                <div class="card m-4" style="width: 18rem;">
                    <img src="~/images/@i.ImageName" class="card-img-top" alt="@i.CountryName">
                    <div class="card-body">
                        <h5 class="card-title">@i.CountryName</h5>
                        @Html.ActionLink("Подробнее", "Flag", "Home", new { id = @i.Id }, new { @class = "btn btn-dark" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>

